<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if user_list %}
    <table>
    <thead>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    </thead>
    {% for user in user_list %}
        <tr>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email_id }}</td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
    <h1>No Records</h1>

{% endif %}

{#<ol>#}
{#{% for user in user_list %}#}
{#    <li>USER DETAILS</li>#}
{#    <ul>#}
{#        <li>First Name:{{ user.first_name }}</li>#}
{#        <li>Last Name:{{ user.last_name }}</li>#}
{#        <li>{{ user.email_id }}</li>#}
{#    </ul>#}
{#{% endfor %}#}
{#</ol>#}
</body>
</html>